:root{
	--black:#000;
	--white:#fff;

	--gray:#888888;
	--gray-4:#353535;
	--gray-3:#585858;
	--gray-2:#b8b8b8;
	--gray-1:#dbdbdb;

	--red:#f03333;
	--red-4:#e34949;
	--red-3:#e77171;
	--red-2:#e69292;
	--red-1:#ebb1b1;

	--green:#2ab72a;
	--green-4:#44c044;
	--green-3:#5ec65e;
	--green-2:#71cf71;
	--green-1:#a7eea7;

	--blue:#0077ff;
	--blue-4:#338aef;
	--blue-3:#539bed;
	--blue-2:#70a9ea;
	--blue-1:#a1c5ee;

	--yellow:#efef21;
	--yellow-4:#c7c720;
	--yellow-3:#e8e84c;
	--yellow-2:#efef8c;
	--yellow-1:#efefb3;

	--orange:#febd44;
	--orange-4:#ffc861;	
	--orange-3:#ffd483;	
	--orange-2:#ffdd9f;
	--orange-1:#ffebc6;

	--pink:#f1aab6;
	--pink-4:#c45265;
	--pink-3:#d47b8a;
	--pink-2:#e0a6b0;
	--pink-1:#f0cad0;

	--purple:#9d319d;
	--purple-4:#b351b3;
	--purple-3:#c76bc7;
	--purple-2:#d87ed8;
	--purple-1:#efafef;


	--body-bg: #fff;
	--fsz:16px;

	

	--font-main:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-serif:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--font-mono:monospace;
	
	--ph-line: #bbb;
	--ph-fill: #666;

	--theme-bg:var(--white);
	--theme-color:var(--black);

	--color:#000;

	--mobile:100%;
	--tablet:576px;
	--desktop:1024px;
}
/* ОСНОВНІ */
*, ::after, ::before{
	text-decoration: var(--tdc);
	object-fit: cover;
	box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
	font-family: var(--font-main);
	font-size: var(--fsz);
	font-feature-settings: 'pnum' on, 'lnum' on;
	outline:0;border:0;margin:0;padding:0;
	line-height: 1.35em;
}
html{min-height: 100%;height: 100%;}
html, body{
	min-height: 100%;
	background-color: var(--theme-bg);
}


hr{ width: 100%; margin: 20px 0; border-top: 1px solid #aaa;}

h1,h2,h3,h4,h5,h6 {
	--fwt:500;
	font-size: var(--fsz);
	font-weight: var(--fwt);
	line-height: 1.2;
}

h1 { --fsz:2.5rem   }
h2 { --fsz:2rem     }
h3 { --fsz:1.75rem  }
h4 { --fsz:1.5rem   }
h5 { --fsz:1.25rem  }
h6 { --fsz:1rem     }

h1,h2,h3,h4,h5,h6,p,b,strong,em,i,dfn,
cite,var,address,dfn,mark,s,del,ins,small,
sub,sup,pre,code,samp,kbd,q,blockquote,address{
	color:var(--color);
}

a{ color:var(--blue) }

input:is(
	[type=button],
	[type=submit],
	[type=reset])
,button{
	border: 1px solid var(--color);
	border-radius: 5px;
	background: transparent;
	padding: .6em 2em;
	cursor: pointer;
	color: var(--color);
}

.border{ border: 1px solid }
[class*="b-"],
[class*="bt-"],
[class*="br-"],
[class*="bb-"],
[class*="bl-"] { border-style: solid }



button.smaller{padding: .1em  .5em}
button.small  {padding: .4em 1.5em}
button.large  {padding: .8em 2.3em}
button.larger {padding:1.2em   3em}

button[disabled] {opacity:.5;cursor:unset}

button.fill.black{
	color: white;
}



select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	stroke:red;
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L11 10.5L21 1.5' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: top 50% right 15px;
	background-size: 15px;
	padding-right: 40px !important;
	padding: 10px 20px;
	color: var(--theme-color);
	font-size: 16px;
	border: 1px solid;
	border-radius: 5px;
}

body[class*=theme] select:not(.fill),
body:not([class*=theme]) select.fill{
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L11 10.5L21 1.5' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A")
} 

:is(select,input,textarea).fill{
	background-color: var(--theme-color);
}
input,select,textarea{
	font-size: 16px;
	border-radius: 5px;
	padding: 10px;
	color: var(--theme-color);
	background-color: transparent;
}
:is(input,select,textarea):not(.fill)::placeholder{
	color: var(--ph-line);
}
:is(input,select,textarea).fill::placeholder{
	color: var(--ph-fill);
}
input:is(
	[type="text"],
	[type="number"],
	[type="search"],
	[type="datetime"],
	[type="password"],
	[type="search"],
	[type="tel"],
	[type="email"],
	[type="url"]
),textarea{
	border: 1px solid;
}

.line:not(nav,footer,main,section,header){
	border: 1px solid var(--color);
	background-color: transparent !important;
	color: var(--color);
}

.fill:not(nav,footer,main,section,header),
.fill:is(.red,.blue,.green,.black,.gray,.purple){
	border: 0 !important;
	color:var(--theme-bg);
	background-color: var(--color);
}
.fill.white { color:var(--black) !important }

select.smaller { padding: 1px 5px   }
select.small   { padding: 5px 10px  }
select.large   { padding: 15px 20px }
select.larger  { padding: 20px 30px }

input.smaller, textarea.smaller{ padding: 1px  }
input.small,   textarea.small  { padding: 5px  }
input.large,   textarea.large  { padding: 15px }
input.larger,  textarea.larger { padding: 20px }

nav.line,header.line{ border-bottom: 1px solid var(--theme-color, #000) }
footer.line{ border-top: 1px solid var(--theme-color, #000) }

nav:not(header nav){margin-bottom: 20px;}
header:not(nav header){margin-bottom: 20px;}

footer{margin-top: 20px;}

header.shadow{ box-shadow: 0  5px 20px #00000033 }
footer.shadow{ box-shadow: 0 -5px 20px #00000033 }

nav:not(header nav){padding: 10px 0}
header:not(nav header){padding: 10px 0}

:is(nav,footer,header).large   { padding: 20px 0 }
:is(nav,footer,header).larger  { padding: 30px 0 }
:is(nav,footer,header).x-large { padding: 40px 0 }
:is(nav,footer,header).xx-large{ padding: 50px 0 }


[text~=lh-xxsmall]{line-height:0.3 }
[text~=lh-xsmall ]{line-height:0.5 }
[text~=lh-smaller]{line-height:0.8 }
[text~=lh-small  ]{line-height:1   }
[text~=lh-large  ]{line-height:1.6 }
[text~=lh-larger ]{line-height:2   }
[text~=lh-xlarge ]{line-height:2.5 }
[text~=lh-xxlarge]{line-height:3   }

[class*=over-scroll]::-webkit-scrollbar{ height:.3rem; width:.3rem }
[class*=over-scroll]::-webkit-scrollbar-thumb{ background: #bbb  }
[class*=over-scroll]::-webkit-scrollbar-track{ background: white }



.switcher{
	font-size: 24px;
	box-sizing: content-box;
	position: relative;
	cursor: pointer;
	width: 2em;height: 1em;
	appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0 !important;
	border-radius: 999px;
	background: transparent !important;
}
.switcher::before,.switcher::after{
	font-size: inherit;
	content: '';
	display: block;
	position: absolute;
	border-radius: inherit;
	
}
.switcher::before{
	width: 100%;height: 100%;
	border: 1px solid var(--sw-off, var(--color, var(--theme-color)));
	background: transparent;
}
.switcher::after{
	width:  calc(1em / var(--sl-size,1.5));
	height: calc(1em / var(--sl-size,1.5));
	margin: calc((1em - (1em / var(--sl-size,1.5) )) / 2);
	background: var(--sl-off, var(--color,var(--theme-color)));
	left: 0;
	transition: .1s;
}
.switcher:checked::before{
	background: var(--sw-on, var(--color,var(--theme-color)));
	border: 1px solid var(--sw-on, var(--color, var(--theme-color)));
}
.switcher:checked::after{
	left: 50%;
	background: var(--sl-on, var(--theme-bg));
}

.switcher.size-0{ --sl-size:1}
.switcher.size-1{ --sl-size:1.2}
.switcher.size-2{ --sl-size:1.4}
.switcher.size-3{ --sl-size:1.6}
.switcher.size-4{ --sl-size:1.8}
.switcher.size-5{ --sl-size:2}

.switcher.ios{
	--sl-size:1.2;
	width: 1.6em;
}
.switcher.ios::before{
	border: 0;
	background: var(--theme-color, black);
	opacity: 0.20;
}
.switcher.ios::after{
	background: white;
	box-shadow: 0px 2px 5px #0000004d;
}
.switcher.ios:checked::before{ background: #31D05A; opacity: 1 }
.switcher.ios:checked::after{ left: 38% }

.switcher.mat{
	--sl-size:.7;
	--mat-color:#009688;
	width: 2.5em;
	font-size: 16px;
}
.switcher.mat::before{
	
	border: 0;
	background: var(--theme-color, black);
	opacity: 0.20;
}
.switcher.mat::after{
	background: white;
	box-shadow: 0px 2px 5px #0000004d;
}
.switcher.mat:checked::before{ background: var(--mat-color); opacity: 0.6 }
.switcher.mat:checked::after{ background: var(--mat-color); left: 70% }


.modal-bg,.modal,.fullscreen{
	position: absolute;
	left: 0;top: 0;
	width: 100%;height: 100%;
}
.modal{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.modal-bg{
	background: #000000c0;
}
.modal-window{
	position: relative;
	background: var(--theme-bg);
	padding: 20px;
	border-radius: 10px;
	z-index: 1;
}
.modal-close{
	position: absolute;
	top: -0.2em;right:0.2em;
	cursor: pointer;
	font-size: 32px;
	color:var(--color,--theme-color)
}
.modal-close::before{
	content:'×';
	color:inherit;
	font-size: inherit;
	font-family: times, serif !important;
}

 



.theme-dark {
	--theme-bg: #232323;
	--theme-color: var(--white);
	--color:var(--theme-color)
}

option{
	color: black;
	background-color: white;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	padding-left: var(--wrapper-padding,10px);
	padding-right: var(--wrapper-padding,10px);
}

.debug *{ border: 0.1px solid red }